.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 9px;  

    .shopping-icon {
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: 800px){
      width: 30px;
      height: 30px;
      top: 5px;
    }
  
    .item-count {
      position: absolute;
      font-size: 12px;
      font-weight: bold;
      bottom: 15px;
      color: red;

      @media screen and (max-width: 800px){
        top: 5px;
      }
    }
  }