.logo-container {
    height: 50px;
    width: 70px;
    padding: 0px 8px;
    
}


a{
    text-decoration: none !important;
    color: black !important;
    font-weight: bold;
    font-size: 15px;
}

.title-h{
    font-size: 25px;
    font-weight: 700;
    margin: auto;
}

.login{
    border: none;
    width: 100%;
    height: 35px;
    color: black;
    border-radius: 50px;
    padding: 0 10px 0 10px;
    // background-color: rgb(2, 89, 129);
    font-weight: 300;
    // box-shadow: none;
    // display: flex;

    &:hover{
        color: red !important;
    }

}